h1{
    color: red;
}
body{
    /* background: rgb(135, 169, 219) url('../images/splashLogo.png') no-repeat center; */
    background-size: 100vh;
    background-position:top center;
    opacity: 0.8;

    
}
.container{
      margin: auto;
      text-align: center;
      padding: 20px;
      align-items: center;
}

.btn1{
    display: inline-block;
}
.login .link{
    text-decoration: none;
    font-weight: bold;
    z-index: 1;
}